* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./image/main/main_background.jpg');
  background-size : cover;
  position: relative;
}

.background-box {
  position: absolute;
  transform: translate(0%, 180%);
  width: 100vw;
  height: 270px;
  background-color: #C89070;
}

header {
  width: 90vw;
  position: relative;
  display: flex;
}

.nav-line {
  display: block;
  width: 270px;
  height: 45px;
  margin-top: 40px;
}

.signdesign {
  position: absolute;
  margin-left: 130px;
}

.titleline {
  position: absolute;
  margin-top: 10px;
}

.title {
  width: 420px;
  height: 300px;
  position: absolute;
  transform: translate(30%, 45%);
  display: flex;
  justify-content: flex-start;
  align-items :flex-start;
}


.chapter-number {
  position: absolute;
}

.chapter-title {
  position: absolute;
  margin-top: 60px;
}

.chapter-subtitle {
  position: absolute;
  margin-top: 95px;
}

.chapter-line {
  position: absolute;
  margin-top: 120px;
}

.chapter-text {
  position: absolute;
  margin-top: 140px;
}

.main-wrapper {
  width: 100vw;
  height: 80vh;
  position: absolute;
}

.main-img {
  width: 820;
  height: 250;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  transform: translate(15%, 230%);
}

.main-img-text {
  position: absolute;
  margin-top: 350px;
  margin-left: 270px;
}

.sub-img {
  width: 300px;
  height: 500px;
  position: absolute;
  transform: translate(400%, -9%);
}

.sub01 {
  margin-top: -30px;
}

.sub02 {
  margin-top: -30px;
}

.sub03 {
  margin-top: -30px;
}

button {
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
}

.back {
  position: absolute;
  transform: translate(0%, -10%);
  width: 400px;
  height: 100vh;
}

.go {
  position: absolute;
  transform: translate(355%, -10%);
  width: 420px;
  height: 100vh;
}