* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./image/main/main_background.jpg');
  background-size : cover;
  position: relative;
}

.main-img {
  width: 800px;
  height: auto;
  position: absolute;
  transform: translate(30%, 13%);
  top: 40px;
}

.subtext03 {
  position: absolute;
  transform: translate(0%, -150%);
}

.sub-img {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 1150px;
  top: 133px;
}

.sub02-2 {
  margin-top: 12px;
}

button {
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
}

.back {
  position: absolute;
  transform: translate(0%, 0%);
  width: 400px;
  height: 100vh;
}

.go {
  position: absolute;
  transform: translate(355%, 0%);
  width: 420px;
  height: 100vh;
}